.nav{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 20px;
}
.nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(61, 61, 61);
}
.nav a:hover{
    color: #fff;
    background-color: rgb(102, 102, 102);
}